<div class="mainbody">
    <div class="d-flex">
      <div class="wrapper">
        <div id="formContent">
          <div>
            <img src="../../assets/login.png" id="icon" alt="User Icon" height="100" width="50" />
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <input type="text" id="login" 
            name="usr" placeholder="CustomerId" required
            [ngClass]="{ 'is-invalid': f.loginname.errors }"
            formControlName="loginname">
            <div *ngIf="submitted && f.loginname.errors" class="invalid-feedback">
                <div *ngIf="f.loginname.errors.required">CustomerId is required</div>
            </div>
            <input type="password" id="password" class="bgWhite" 
             name="loginpassword"
              placeholder="password" required formControlName="loginpassword"
              [ngClass]="{ 'is-invalid': f.loginpassword.errors }"
              required>
             <div *ngIf="submitted && f.loginpassword.errors" class="invalid-feedback">
               <div *ngIf="f.loginpassword.errors.required">password is required</div>
           </div>
           <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> 
            <input type="submit" [disabled]="loading"  value="Log In">
          </form>
          <div id="formFooter">
            <a class="underlineHover" (click)="gotoForgotpassword()"  >Forgot Password?</a> |
            <nav> <a class="underlineHover"
              routerLink="/app/registration">
              <!-- [routerLink]="['registration']" -->
              Sign up</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
    
    <!-- <div class="table-responsive">
      <table class="table table-bordered mx-auto w-auto" style="background-color: aliceblue;">
        <thead class="thead-dark">
          
          <th class="w-33 p-3" scope="col">S.no</th>
          <th class="w-33 p-3" scope="col">Login Name</th>
          <th class="w-33 p-3" scope="col">Password</th>
          <th class="w-33 p-3" scope="col">Operations</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of products; let i = index">
             <td scope="row">{{i}}</td>
            <td scope="row">{{item.UserName}}</td>
            <td scope="row">{{item.Password}}</td>
            <td> <input type="button" value="Edit" class="paddingtop10right20">
              <input type="button" value="Delete" class="paddingtop10right20 marginleft10"> </td>
          </tr>
        </tbody>
      </table>
    </div> -->
    </div>
    